<mat-toolbar color="primary" class="toolbar">
  <button mat-icon-button (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="app-name">MiNc</h1>
  <div style="margin-right: 0; margin-left: auto">
    <a [routerLink]="['settings']" mat-icon-button matTooltip="Settings"><mat-icon>settings</mat-icon></a>
    <!-- <button mat-icon-button type="button" matTooltip="Settings">
      <mat-icon>settings</mat-icon>
    </button> -->
    <button
      mat-icon-button
      type="button"
      matTooltip="Logout"
      (click)="logout()"
    >
      <mat-icon>input</mat-icon>
    </button>
  </div>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container full-height">
  <mat-sidenav
    #snav
    [mode]="mobileQuery.matches ? 'over' : 'side'"
    [fixedInViewport]="mobileQuery.matches"
    fixedTopGap="56"
  >
    <mat-nav-list>
      <p class="text-disabled" style="padding-left: 16px; padding-right: 16px">
        {{ currentUser.username }}
      </p>
      <mat-divider style="margin-bottom: 8px"></mat-divider>
      <a mat-list-item [routerLink]="['dashboard']">Dashboard</a>
      <a mat-list-item [routerLink]="['planner']">Raidplanner</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
