<app-alert [message]="error" *ngIf="error" (close)="onHandleError()"></app-alert>
<div *ngIf="isLoading" style="text-align: center">
  <app-loading-spinner></app-loading-spinner>
</div>
<section class="vh-100 scaffold-background">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <h3 class="mb-5">Sign up</h3>
            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
              <div class="form-outline mb-4">
                <input
                  type="text"
                  id="apiKey-2"
                  class="form-control form-control-lg"
                  placeholder="API Key"
                />
              </div>

              <div class="form-outline mb-4" *ngIf="apiKeyIsValid">
                <input
                  type="email"
                  id="email"
                  class="form-control form-control-lg"
                  formControlName="email"
                  placeholder="Email"
                />
              </div>

              <div class="form-outline mb-4" *ngIf="apiKeyIsValid">
                <input
                  type="password"
                  id="password"
                  class="form-control form-control-lg"
                  formControlName="password"
                  placeholder="Password"
                />
              </div>

              <button
                class="btn btn-primary btn-lg"
                style="width: 100%"
                type="submit"
                [disabled]="!apiKeyIsValid"
              >
                Create Account
              </button>
            </form>
            <div>
              <p class="mb-0 subtitle-grey" style="padding-top: 16px">
                Already have an account?
                <a
                  [routerLink]="['/auth', 'login']"
                  class="fw-bold subtitle-grey"
                  >Login</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
