<div style="margin-right: 24px; margin-left: 24px">
  <h2 class="text-disabled" style="font-weight: normal">Settings</h2>
  <mat-card>
    <mat-card-header class="text-disabled"
      ><h3 style="font-weight: normal">Account</h3></mat-card-header
    >
    <mat-card-content>
      <p>Account name: {{ (user$ | async)?.username }}</p>
      <mat-divider></mat-divider>
      <mat-chip-listbox
        style="margin-left: 8px; margin-top: 8px; margin-bottom: 8px"
      >
        <mat-label style="margin-top: 10px">Roles: </mat-label>
        <mat-chip-option
          class="mat-chip-default-cursor"
          *ngFor="let role of (user$ | async)?.roles"
          [selectable]="false"
          [selected]="false"
          >{{ role | lowercase }}</mat-chip-option
        >
      </mat-chip-listbox>
      <mat-divider style="margin-bottom: 16px"></mat-divider>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
        style="margin-bottom: 8px"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Display name</mat-panel-title>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> API-Key </mat-panel-title>
        </mat-expansion-panel-header>
        <input
          matInput
          class="full-width-input"
          style="width: 100%"
          type="text"
          value="{{apiKey$ | async}}"
        />
        <mat-chip-listbox
          style="margin-left: 8px; margin-top: 8px; margin-bottom: 8px"
        >
          <mat-label style="margin-top: 10px">Permissions: </mat-label>
          <mat-chip-option
            *ngFor="let permission of (tokenInfo$ | async)?.permissions"
            [selectable]="false"
            [selected]="false"
            >{{ permission }}</mat-chip-option
          >
        </mat-chip-listbox>
      </mat-expansion-panel>
    </mat-card-content>
    <mat-card-actions align="end" style="margin-right: 8px; margin-left: 8px">
      <button mat-button color="primary">Delete Account</button>
    </mat-card-actions>
  </mat-card>
</div>
