:root {
  /* LIGHT-SCHEME */
  --light-primary: #6750a4;
  --light-primary-hover: #ffffff;
  --light-primary-container: #eaddff;
  --light-primary-container-hover: #21005d;
  --light-secondary: #625b71;
  --light-secondary-hover: #ffffff;
  --light-secondary-container: #e8def8;
  --light-secondary-container-hover: #1d192b;
  --light-tertiary: #7d5260;
  --light-tertiary-hover: #ffffff;
  --light-tertiary-container: #ffd8e4;
  --light-tertiary-container-hover: #31111d;
  --light-error: #b3261e;
  --light-error-hover: #ffffff;
  --light-error-container: #f9dedc;
  --light-error-container-hover: #410e0b;
  --light-background: #fffbfe;
  --light-background-hover: #1c1b1f;
  --light-surface: #fffbfe;
  --light-surface-hover: #1c1b1f;
  --light-outline: #79747e;
  --light-surface-variant: #e7e0ec;
  --light-surface-variant-hover: #49454f;
  /* DARK-SCHEME */
  --dark-primary: #d0bcff;
  --dark-primary-hover: #381e72;
  --dark-primary-container: #4f378b;
  --dark-primary-container-hover: #eaddff;
  --dark-secondary: #ccc2dc;
  --dark-secondary-hover: #332d41;
  --dark-secondary-container: #4a4458;
  --dark-secondary-container-hover: #e8def8;
  --dark-tertiary: #efb8c8;
  --dark-tertiary-hover: #492532;
  --dark-tertiary-container: #633b48;
  --dark-tertiary-container-hover: #ffd8e4;
  --dark-error: #f2b8b5;
  --dark-error-hover: #601410;
  --dark-error-container: #8c1d18;
  --dark-error-container-hover: #f9dedc;
  --dark-background: #1c1b1f;
  --dark-background-hover: #e6e1e5;
  --dark-surface: #1c1b1f;
  --dark-surface-hover: #e6e1e5;
  --dark-outline: #938f99;
  --dark-surface-variant: #49454f;
  --dark-surface-variant-hover: #cac4d0;
}

.subtitle-variant {
  color: var(--light-secondary);
}

body {
  background-color: var(--light-background);
}

.scaffold {
  background-color: var(--light-background);
  border-color: var(--l--light-secondary);
}

.btn-primary {
  background-color: var(--light-primary);
  border-color: var(--light-primary);
  transition: all 0.2s;
}

.btn-primary:hover {
  color: var(--light-primary);
  background-color: var(--primary-hover);
}

.btn-primary:disabled {
  color: var(--light-primary);
  background-color: var(--light-primary-container);
  border-color: var(--light-primary);
}

.btn-secondary {
  background-color: var(--light-secondary);
  border-color: var(--light-secondary);
  transition: all 0.2s;
}

.btn-secondary:hover.btn:hover {
  color: var(--light-secondary);
  background-color: var(--light-secondary-hover);
  border-color: var(--light-secondary);
  transition: all 0.2s;
}

.btn-secondary:disabled {
  color: var(--light-secondary);
  background-color: var(--light-secondary-container);
  border-color: var(--light-secondary);
}

.btn-tertiary {
  background-color: var(--light-tertiary);
  border-color: var(--light-tertiary);
  transition: all 0.2s;
}

.btn-tertiary:hover.btn:hover {
  color: var(--light-tertiary);
  background-color: var(--light-tertiary-hover);
  border-color: var(--light-tertiary);
  transition: all 0.2s;
}

.btn-tertiary:disabled {
  color: var(--light-tertiary);
  background-color: var(--light-tertiary-container);
  border-color: var(--light-tertiary);
}

.btn-check:checked + .btn {
  background-color: var(--light-secondary);
  opacity: 1;
}

.btn-check + .btn {
  color: var(--light-secondary);
  background-color: var(--light-secondary-container);
  border-color: var(--light-secondary);
}

.btn:disabled,
.btn.disabled {
  color: var(--light-primary);
  opacity: 0.65;
  background-color: var(--light-primary-container);
  border-color: var(--light-primary);
}

.form-control:focus {
  border-color: var(--light-primary);
  box-shadow: 0 0 0 0.1rem var(--light-primary);
}

.alert-danger {
  color: var(--light-error);
  border-color: var(--light-error);
  background-color: var(--light-error-container);
}
