.subtitle-grey {
  color: #757575;
}

.scaffold-background {
  background-color: hsl(0, 0%, 96%);
}

.btn-primary {
  background-color: #673ab7;
  border-color: #673ab7;
  transition: all 0.2s;
}

.btn-primary:hover {
  color: white;
  background-color: #482880;
  border-color: #482880;
}

.btn-primary:disabled {
  background-color: #8561c5;
  border-color: #8561c5;
}

.form-control:focus {
  border-color: #8561c5;
  box-shadow: 0 0 0 0.2rem #8561c5;
}
