@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.red-snackbar {
  background: #f44336;
  border-radius: 4px;
}
.mat-mdc-snack-bar-container {
  &.red-snackbar {
    --mdc-snackbar-container-color: #f44336;
    --mat-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}

html, body{
  margin: 0;
  height: 100%;
}

.full-height {
  height:100%;
  display: block;
}

